* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.line {
  border: 1px solid black;
}

.onboarding {
  width: 50%;
  margin-left: 25%;
  padding: 10px;
}

.rules {
  margin-left: 5%;
}
.scores {
  width: 30%;
  margin-left: 35%;
  padding: 10px;
}
