* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.line {
  border: 1px solid black;
}

.main-comp {
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  margin-bottom: 10%;
}

input[type="text"] {
  padding: 12px;
  font-size: 16px;
}

.btn1 {
  background-color: #9c2692; /* Green */
  border: none;
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn2 {
  background-color: #fa44eb; /* Green */
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.main-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
  text-align: center;
}

.text-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 10px;
}

.text-body {
  font-family: "Roboto", sans-serif;
  margin: 10px;
  padding: 10px;
}

/* Specific classes */
.back-next {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left left . . right right";
}

.left-btn {
  grid-area: left;
}

.right-btn {
  grid-area: right;
}

.rules {
  margin-left: 5%;
}

.start {
  margin-left: 80%;
  padding: 5px;
}

.timer {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin: 10px;
}

.meter-container {
  display: grid;
  padding: 10px;
  height: 100px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "meter1" "meter2" "meter3";
}

.meter1 {
  grid-area: meter1;
}

.meter2 {
  grid-area: meter2;
}

.meter3 {
  grid-area: meter3;
}

/*
BUTTONS GRID
*/

.game-button {
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-size: 1.5em;
}

.buttons-container * {
  border: 1px solid purple;
  position: relative;
}

.buttons-container *:after {
  position: absolute;
  top: 0;
  left: 0;
}

.buttons-container {
  display: grid;
  height: 350px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.6fr;
  grid-template-areas: "b1 b2 b3" "b4 b5 b6" "b7 b8 b9" "reset reset start";
}

/*
Add Undo Button next to RESET btn to take 1.5fr of total 3 coloumn each
*/

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}

.b4 {
  grid-area: b4;
}

.b5 {
  grid-area: b5;
}

.b6 {
  grid-area: b6;
}

.b7 {
  grid-area: b7;
}

.b8 {
  grid-area: b8;
}

.b9 {
  grid-area: b9;
}

.reset-div {
  grid-area: reset;
}

/*
.start-div {
  grid-area: start;
}
*/
